.admonition {
    font-family: Inter, sans-serif;
    color: #000000;
    padding: 15px;
    margin-bottom: 1em;
    margin-top: 1em;
    border-left: 10px solid transparent;
}

.admonition .title {
    font-size: 2ch;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: .75em;
}

.admonition .content {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
    margin-left: 0;
    border-left: 0;
    border-top: 0;
    min-height: 0;
}

.note {
    border-color: olive;
    background-color: #effffd;
}

.note .title {
    color: olive;
    border-color: olive;
}

.tip {
    border-color: blue;
    background-color: #eaeaff;
}

.tip .title {
    color: blue;
    border-color: blue;
}

.warning {
    border-color: orange;
    background-color: #fffee6;
}

.warning .title {
    color: orange;
    border-color: orange;
}

.important {
    border-color: red;
    background-color: #ffeded;
}

.important .title {
    color: red;
    border-color: red;
}
