@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  10% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1.7);
  }
  40% {
    transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
[data-language] code,
[class^="lang"] code,
pre [data-language],
pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  animation: fade-in 50ms ease-in-out 2s forwards;
}
[data-language] code.rainbow,
[class^="lang"] code.rainbow,
pre [data-language].rainbow,
pre [class^="lang"].rainbow {
  animation: none;
  transition: opacity 50ms ease-in-out;
}
[data-language] code.loading,
[class^="lang"] code.loading,
pre [data-language].loading,
pre [class^="lang"].loading {
  animation: none;
}
[data-language] code.rainbow-show,
[class^="lang"] code.rainbow-show,
pre [data-language].rainbow-show,
pre [class^="lang"].rainbow-show {
  opacity: 1;
}
pre {
  position: relative;
}
pre.loading .preloader div {
  animation-play-state: running;
}
pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  animation: fade 1.5s 300ms linear infinite;
}
pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  animation: fade 1.5s 438ms linear infinite;
}
pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  animation: fade 1.5s 577ms linear infinite;
}
pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  animation: fade 1.5s 715ms linear infinite;
}
pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  animation: fade 1.5s 853ms linear infinite;
}
pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  animation: fade 1.5s 992ms linear infinite;
}
pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  animation: fade 1.5s 1130ms linear infinite;
}
pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px;
}
pre .preloader div {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
pre,
code {
  font-family: "IntelOne Mono", "Monaco", "Menlo", courier, monospace;
}
pre {
  background: #0b1022;
}
pre .comment {
  color: #727272;
}
pre .constant {
  color: #d8fa3c;
}
pre .storage {
  color: #fbde2d;
}
pre .string,
pre .comment.docstring {
  color: #61ce3c;
}
pre .string.regexp,
pre .support.tag.script,
pre .support.tag.style {
  color: #fff;
}
pre .keyword,
pre .selector {
  color: #fbde2d;
}
pre .inherited-class {
  font-style: italic;
}
pre .entity {
  color: #ff6400;
}
pre .support {
  color: #8da6ce;
}
pre .variable.global,
pre .variable.class,
pre .variable.instance {
  color: #ff6400;
}
[data-language="c"] .function.call,
.lang-c .function.call,
.language-c .function.call {
  color: #8da6ce;
}
