@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #000000;
    --body-color: #b3b3b3;
    --main-color: #30667e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg: #f2f2f2;
    --body-color: black;
    --main-color: #30667e;
  }
}

* {
  box-sizing: border-box;
}

* + * {
  margin: 0.5em 0;
}

body {
  font-family: "Lora", serif;
  font-size: 2ch;
  text-align: left;
  background: var(--body-bg);
  color: var(--body-color);
}

.card {
  padding: 1em;
  border: 3px solid;
  border-color: var(--main-color);
}

pre {
  overflow: auto;
  padding: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(71, 71, 71, 0.1),
    rgba(71, 71, 71, 71),
    rgba(71, 71, 71, 0.1)
  );
  margin-top: 1.5em;
  margin-bottom: 1em;
}

code {
  color: #41b9fa;
  font-size: 1.7ch;
}

a {
  color: #236b9b;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.c {
  max-width: 45em;
  padding: 1em;
  margin: auto;
  font: 1em/1.5 "Lora";
}

.w-100 {
  width: 100%;
}

.topcorner {
  position: absolute;
  top: 0.3em;
  right: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
  letter-spacing: 0.1ch;
  text-align: left;
}

h2,
h3,
h4 {
  margin-top: 1.5em;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 7ch;
  color: var(--main-color);
  text-align: center;
  margin: 0;
  text-decoration: none;
  display: inline;
  margin-left: 0.19em;
  vertical-align: middle;
}

h1 {
  font-size: 2.5ch;
}

h2 {
  font-size: 2.3ch;
}

h3 {
  font-size: 2ch;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 1.5ch;
  letter-spacing: 1px;
  color: #525252;
}

textarea {
  font-size: 15px;
  width: 100%;
  height: 7em;
  line-height: 1.9;
}

blockquote {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-left: 0.5em;
  border-left: 3px solid #ccc;
}

.simple-note {
  font: 0.9em/1.5 "Inter", sans-serif;
  color: #000000;
  background-color: #ffe4a6;
  border-left: 5px solid #ffae52;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer {
  font-family: "Inter", sans-serif;
  font-size: 85%;
  letter-spacing: 1px;
  margin-top: 1.5em;
  text-align: center;
}

.about-me {
  font-size: 90%;
  display: flex;
  text-align: left;
}

.about-me .author-image {
  float: left;
  background-color: white;
  border-radius: 100px;
  margin-right: 2rem;
  margin-left: 1.5rem;
  display: column;
}

.about-me .author-info {
  display: column;
}

.about-me .author-info h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.about-me .author-image:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-width: 12em;
}

input[type="text"] {
  height: 2em;
  padding: 0.5em;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  height: 2.5em;
  color: var(--main-color);
  background-color: transparent;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  position: relative;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn.back {
  color: #818181;
}

.btn:active {
  top: 5px;
  left: 5px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("../fonts/IntelOne-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
